/*!
 *Ahmad
 */

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: iranianSans;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}

* {
    /*border: 1px solid beige;*/
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.center {
    position: absolute;
    left: 0;
    top: 46%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.fixed-bottom{
    position: fixed;
    bottom: 3px;
    left: 0;
    z-index: 100;
}
/*
*nav bar section
*/
nav {
}

nav .navbar-brand {
    /*float: left;*/
    margin: 5px;
}

nav .navbar-nav {
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 0px;
    float: right;
    background-color: #fff;
    border-top: 1px solid #c0c0c8;
    border-bottom: 1px solid #c0c0c8;
    border-right: 1px solid #c0c0c8;
}

nav ul li:last-child {
    border-left: 1px solid #c0c0c8;
}

nav ul li:hover {
    background-color: #cc342d;
}

nav ul a {
    color: #cc342d;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;

}

nav ul a:hover {
    color: #fff;
    text-decoration: none;
}

nav ul li .fa {
    margin-right: 2px;
}
/*nav ul #order-food-link:hover #order-food   {*/
    /*background-color: #cc0000;*/
/*}*/

.jumbotron {
    width: 100%;
    height: 300px;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron .container {
    margin-top: 75px;
}

.jumbotron input {
    direction: rtl;
    width: 150px;
    font-size: 9px;
    padding: 3px;
}

#restorans-row h1 {
    padding: 3px 7px 3px 3px;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 2px 2px 5px #cc342d;
    line-height: 0.2;

}

.restorans {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

}

.restoran-item {
    position: relative;
    display: table-cell;
    border: none;
    /*box-shadow: 2px 2px 5px #cc342d;*/
    /*border-radius: 8px 8px 0 0;*/
}

.restoran-item a {
    text-decoration: none;
    color: inherit;
}

.restoran-item:hover {
    /*box-shadow: 1px 1px 1px #aa231c;*/
}

.restoran-item-space {
    display: table-cell;
    padding: 5px;
    visibility: hidden;
}

.restoran-item-title {
    position: absolute;
    top: 58px;
    right: 25px;
    padding: 3px 6px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: small;
}

.restoran-item-intro {
    /*padding: 5px;*/
    /*text-align: center;*/
}

.restoran-item-intro .fa {
    color: green;
    margin-left: 3px;
}

.restoran-item-intro li {
    font-size: x-small;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.restoran-item-intro li:last-child {
    border-top: 1px solid #c0c0c8;

}

.restoran-item-img:hover {

}

.restoran-item-img img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.restoran-item-intro {
    text-align: center;
    line-height: 2;
}

.distance {
    color: #2d3277;
    font-weight: bolder;
}

/*restoran detail v2 stylesheet*/

#restorans-row {
    text-align: center;
    margin-top: 8px;
}
#restorans-row .repeat-restoran {
   margin-top: 3px;
}

#restorans-row .restoran {
    display: inline-block;
    direction: rtl;
    padding: 6px 10px;
    border: 1px solid #c0c0c8;
}

#restorans-row .restoran .restoran-img {
    display: inline-block;
}

#restorans-row .restoran .restoran-img img {
    border-radius: 5px 5px 5px 5px;
}

#restorans-row .restoran .restoran-title {
    display: inline-block;
}

#restorans-row .restoran .restoran-size {
    display: inline-block;
}
/*
* order-food page
*/

#order-food{
    visibility: visible;
    position: fixed;
    top:0;
    left: 0;
    width: auto;
    height:100vh ;

    background-color: #f7f7f7;

}
#order-food #order-food-title{
    direction: rtl;
    background-color:#cc342d;
    color: white;
    padding: 10px;
    text-align: center;
}
#order-food #order-food-title span:first-child{
    float: right;
  }
#order-food .food-order-items-repeat{
    text-align: center;
}
.food-order-items-repeat .food-order-items-img{
display: inline-block;
}
.food-order-items-repeat .food-order-items-img img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #c0c0c8;
}
.food-order-items-repeat .food-order-items-intro{
    display: inline-block;
    font-size: small;

}.food-order-items-repeat .food-order-items-number{
    display: inline-block;
    direction: rtl;
     margin-right: 30px;

}
#order-food .food-order-sum{
    border: 1px solid #c0c0c8;
    padding: 5px;

}
#order-food .food-order-sum div span{
    margin-right: 5px;
}
#order-food .food-order-sum div span:nth-child(2){
    font-size: medium;
    font-weight: bold;
    color: #2d3277;
    text-decoration: underline;
}
#order-food .food-order-sum button{
    background-color: green;
    color: #fff;
    border: 3px;
    padding: 10px 25px;
    margin-top: 8px;
    font-size: small;
}
/*
*order food step 2
*/
#suggest{
}
#suggest h6{
    text-align: center;
    padding: 3px 7px 0px 3px;
    font-size: small;
    font-weight: lighter;
    line-height: 0.2;
}
#suggest .suggest-row{
    max-width: 360px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
#suggest .suggest-row .suggest-items{
    position: relative;
    display: table-cell;
    border: none;
}
#suggest .suggest-row .suggest-items a{
    text-decoration: none;
    color: inherit;
}
#suggest .suggest-row .suggest-items a:hover{
    text-decoration: none;
    color: inherit;
}
#suggest .suggest-row .suggest-items .suggest-item-img{}
#suggest .suggest-row .suggest-items .suggest-item-img img{
    width: 90px;
    height: 90px;
}
#suggest .suggest-row .suggest-item .suggest-item-title{
    position: absolute;
    top: 58px;
    right: 25px;
    padding: 3px 6px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: xx-small;
}
#suggest .suggest-row .suggest-items .suggest-item-price{
    direction: rtl;
    font-size: x-small;
    background-color:#cc342d ;
    color:#fff;
    padding: 3px 5px;
}
/*
* order food-step 3
*/
#login{
    max-width: 360px;
}
#login .login-intro{
    direction: rtl;
    text-align: justify;
    padding: 10px 20px 2px 20px;
}
#login .login-intro h6:last-child{
    text-align: center;
    color:#a3a3a3;
}
#login .login-form{
    text-align: center;
}
#login .login-form .btn{
    width: 100%;
    color: #fff;
    border: 3px;
    padding: 10px 25px;
    margin-top: 8px;
    font-size: small;
}
#login .login-form .btn-login{
    background-color: green;
}
#login .login-form .btn-not-member{

    background-color: dodgerblue;

}
#login .login-form input{
    direction: rtl;
    font-size: x-small;
    width: 90%;
}
#login .login-form .username{}
#login .login-form .username  .fa{
    color: #cccccc;

}

#login .login-form .password{}
#login .login-form .password .fa{
    color: #cccccc;

}
#login .login-form .not-member{
    margin: 0;
    line-height: 0;
    padding-top:20px;


}
/*
*order food step 4
*/
#payment{}
#payment .title{
    direction: rtl;
    text-align: justify;
    padding: 10px 20px 2px 20px;}
#payment .title span:last-child{
    color: #2d3277;
}
#payment .address{
    direction: rtl;
    text-align: center;
}
#payment .address h6{
    direction: rtl;
    text-align: center;
    color:#313335;
    padding: 10px 20px 2px 20px;
}
#payment .address form{
    padding: 8px 3px;
}
#payment .address form input{
    color:#a3a3a3;

}
#payment .payment-type span{

}
#payment .payment-type .btn{
    color: #fff;
    border: 3px;
    padding: 10px 25px;
    font-size: small;
}
#payment .payment-type button:active {
    background-color: green;
}
#payment .foodila-copon{
direction: rtl;
    text-align: center;
}
#payment .foodila-copon span span:first-child{
color:#2d3277;
}
#payment .foodila-copon .highlight{
    font-size: medium;
    font-weight: bold;
    color: #2d3277;
    text-decoration: underline;
}
#payment .foodila-copon-btn{
    text-align: center;
}
#payment .foodila-copon-btn .btn{
    color: #fff;
    background-color: green;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: small;
}
#payment .payment-price{
    text-align: center;
}
#payment .payment-price span{
    margin-right: 5px;
}
#payment .payment-price-btn button{
    width: 99%;
    color: #fff;
    background-color: limegreen;
    border: none;
    padding: 10px 20px;
    font-size: small;
}